.git
.github
.env
.env.*
!.env.example
.tools
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.phpunit.cache
.phpunit.result.cache
tests
