{
    auto_https off
}

:{$PORT:10000} {
    root * /app/public
    encode zstd br gzip

    @buildAssets path /build/*
    handle @buildAssets {
        header Cache-Control "public, max-age=31536000, immutable"
        file_server
    }

    handle {
        php_server
    }
}
